.Top_Container {
  background-color:#EAF6F6;
  position: relative;
  padding: 100px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 3.625rem;
  color:#66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  font-weight:bold;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#11999E;

}


.bottom-container{
  background-color: #66BFBF;
  display:block;
  padding:10px;
}







.bottom_cloud {
  position: absolute;
  left:250px;
  top:250px;
}

.top_cloud {
  position: absolute;
  right: 250px;
  top: 50px;
}

.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}
.update1{
  width:25%;
  float:left;
  padding-right: 30px
}
.update2{
  width:25%;
  float:right;
  margin-left: 30px;
}
.profile_photo{
  padding-top: 50px;
}

hr{
  border-color: grey;
  border-style: dotted none none;
  border-width:5px;
  width:10%;
}
p{
  color: #40514E
}

.skills{
  margin-top: 75px;
}

.contact-me{
  margin-top: 50px;
  padding-bottom: 30px;
}

.centermulti{
  width:50%;
  margin:50px auto;

}
.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: white;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2e2aa1;
  background-image: -webkit-linear-gradient(top, #2e2aa1, #2f56cc);
  background-image: -moz-linear-gradient(top, #2e2aa1, #2f56cc);
  background-image: -ms-linear-gradient(top, #2e2aa1, #2f56cc);
  background-image: -o-linear-gradient(top, #2e2aa1, #2f56cc);
  background-image: linear-gradient(to bottom, #2e2aa1, #2f56cc);
  text-decoration: none;
}

.identity{
  padding:20px 0;
  color:white;
  font-size: 0.75rem;
}
